[submodule "nvim/.config/neovim"]
	path = nvim/.config/neovim
	url = git@github.com:neovim/neovim.git
	branch = master
	ignore = dirty
[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:rbaumgardner93/init.lua.git
	branch = main
	ignore = dirty
